@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.default-button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: $black;
  color: $white;
  line-height: 20px;
  @include font($font-pro, normal, 400, 16px, 0.15em);

  text-transform: uppercase;
  &:hover {
    background: $gray-smoke;
    border: 1px solid $gray-smoke;
  }
}
