@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.arrivals-container {
  width: 100%;
  @include flex(row, flex-start, space-between);
  @include responsive(mobile) {
    @include flex(column, flex-start, space-between);
  }
  margin-top: 140px;

  .grid__4--1 {
    width: 25%;

    @include responsive(mobile) {
      width: 100%;
    }

    .title {
      color: $gray-smoke;
      margin-bottom: 30px;
      @include responsive(mobile) {
        display: none;
      }
    }

    .categories-item {
      margin-bottom: 50px;
      @include responsive(mobile) {
        display: none;
      }
    }

    .collections {
      @include responsive(mobile) {
        display: none;
      }
    }

    p {
      padding-left: 80px;
      @include font($font-pro, normal, 400, 12px, 0.15em);

      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .link__page {
      text-decoration: none;
      color: $black;

      &:hover {
        color: $gray-smoke;
      }
    }

    .active {
      text-decoration: underline;
    }

    .filter {
      @include flex(row, flex-start, flex-start);

      &__item {
        width: 100%;

        .filter-submit {
          text-align: center;
          padding-left: 14px;
          width: 90%;
          @include responsive(mobile) {
            display: none;
          }

          p {
            padding: 20px;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .filter__select {
          @include flex(row, flex-start, flex-start);
          width: 100%;

          &--item {
            // @include flex(row, space-between, space-between);
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .item__color,
            .item__size {
              width: 50%;
              display: flex;
              span {
                display: flex;
                line-height: 30px;
                cursor: pointer;
                padding-left: 10px;
                padding-right: 100px;
                font-size: 12px;

                img {
                  padding-right: 10px;
                }
              }
            }
          }
        }

        .collapse-filter {
          padding-left: 30px;
          margin-top: -15px;

          p {
            padding-left: 0;
            padding-top: 10px;
          }
        }
      }
    }

    .sort {
      @include flex(row, flex-start, flex-start);
      margin-top: 50px;
      div {
        p {
          padding-left: 20px;
          cursor: pointer;
        }

        @include responsive(mobile) {
          display: none;
        }
      }
    }
  }

  .grid__4--3 {
    display: flex;
    flex-wrap: wrap;

    // width: 75%;
    justify-content: center;
    margin-left: 30px;
    @include responsive(mobile) {
      width: 100%;

      padding-right: 0;
    }

    .grid__image {
      flex-wrap: wrap;
      @include flex(row, flex-start, center);
      margin-bottom: 50px;

      @include responsive(mobile) {
        @include flex(row, center, center);
      }

      .image-item {
        position: relative;
        margin: 0 40px;
        @include responsive(mobile) {
          margin: 5px;
        }

        .quick-add-size {
          display: none;
        }
        img {
          @include responsive(mobile) {
            width: 180px;
            height: 272px;
          }
        }

        &:hover {
          cursor: pointer;
          .quick-add-size {
            display: block;
            position: absolute;
            height: 90px;
            width: 100%;
            @include flex(row, center, center);
            margin-top: -93px;
            background-color: rgba(100%, 100%, 100%, 0.5);

            img {
              width: 10px;
              height: 10px;
            }

            p {
              font-size: 14px;
              margin-right: 10px;
              margin-left: 4px;
              color: $black;
              cursor: pointer;
            }

            .out-stock {
              color: $gray-outstock;
              cursor: none;
            }

            .active {
              text-decoration: underline;
            }
          }
        }

        .item-infor {
          @include flex(row, flex-start, space-between);
          p {
            @include font($font-pro, normal, 400, 13px, 0.12em);
            text-transform: uppercase;
            color: $black;
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 180%;

            span {
              color: $gray-outstock;
            }
          }
        }
      }
    }
  }
}
