@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.collapse {
  display: flex;
  align-items: center;
  padding: 20px 0;

  &__button {
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    &--plus,
    &--minus {
      width: 10px;
      height: 10px;
    }
  }

  &__title {
    margin: 0;
    @include font($font-pro, normal, 400, 16px, 0.15em);
    text-transform: uppercase;
  }
}
