@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.input-payment {
  width: 100%;
  height: 40px;
  border: transparent;
  border-bottom: 1px solid $gray-smoke;
  padding: 0 10px;
  background: $white-smoke;

  &:focus {
    border: transparent;
    outline: none;
    border-bottom: 1px solid $black;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Sofia Pro';
    line-height: 21px;
    letter-spacing: 0.05em;
    color: $black;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    font-family: 'Sofia Pro';
    letter-spacing: 0.05em;
    color: $gray-smoke;
  }
}
