@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.input-payment {
  width: 100%;
  height: 50px;
  border: transparent;
  border-bottom: 1px solid $gray-smoke;
  padding: 0;
  background: $white-smoke;
  margin-bottom: 20px;

  &:focus {
    border: transparent;
    outline: none;
    border-bottom: 1px solid $black;
    line-height: 21px;
    @include font($font-pro, normal, 400, 15px, 0.05em);
    color: $black;
  }

  &::placeholder {
    line-height: 21px;
    @include font($font-pro, normal, 400, 15px, 0.05em);
    padding-left: 10px;
    color: $gray-smoke;
  }
}
