@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.delivery__header--info {
  height: 20px;
  background-color: $pink-orange;
}

.header {
  background-color: rgb(231, 174, 104);
  height: 100px;
  padding: 0 100px;
  @include flex(row, center, space-between);

  .logo-header {
    height: 60px;
  }

  .link-to-page {
    text-decoration: none;
    margin: 20px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $white;
  }

  .left-header {
    @include flex(row, center, space-between);
    .header-search {
      color: $white;
      margin-right: 100px;
      margin-left: 30px;
    }

    .header-cart {
      margin-left: 40px;
    }
  }
}
