@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.search__show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 4;
}

.header__container {
  width: 100%;

  .header {
    background-color: transparent;
    height: 100px;
    padding: 0 100px;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 2;
    @include flex(row, center, space-between);

    @include responsive(tablet) {
      padding: 0 20px;
      height: 80px;
    }

    @include responsive(mobile) {
      height: 70px;
      padding: 0;
    }

    .logo-header {
      height: 60px;
      @include responsive(tablet) {
        height: 50px;
      }
      @include responsive(mobile) {
        height: 35px;
      }
    }

    .logo-header__active {
      display: none;
    }

    .link-to-page {
      text-decoration: none;
      margin: 20px;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $white;
      @include responsive(tablet) {
        margin: 5px;
        font-size: 11px;
      }
      @include responsive(mobile) {
        display: none;
      }
    }

    &__navbar {
      display: none;
      @include responsive(mobile) {
        display: flex;
        height: 9px;
        width: 30px;
        margin-left: 10px;
      }
    }

    &__navbar--active {
      display: none;
      @include responsive(mobile) {
        display: none;
      }
    }

    .left-header {
      @include flex(row, center, space-between);
      .header-search {
        color: $white;
        margin-right: 120px;
        margin-left: 40px;
        cursor: pointer;
        @include responsive(tablet) {
          margin-right: 50px;
          margin-left: 30px;
        }

        @include responsive(mobile) {
          margin-right: 0px;
          margin-left: 0px;
          height: 14px;
        }
      }

      .header-cart {
        margin-left: 40px;
        cursor: pointer;

        @include responsive(tablet) {
          margin-right: 50px;
          margin-left: 30px;
        }

        @include responsive(mobile) {
          margin-right: 10px;
          margin-left: 20px;
          height: 14px;
        }
      }

      .header-cart__active {
        display: none;
      }

      .header-search__active {
        display: none;
      }
    }
  }

  .white {
    @include flex(row, center, space-between);
    background-color: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

    .link-to-page {
      color: $black;
    }

    .logo-header__active {
      display: block;
      height: 60px;
      cursor: pointer;
      @include responsive(tablet) {
        height: 50px;
      }
      @include responsive(mobile) {
        height: 35px;
      }
    }

    .logo-header {
      display: none;
    }

    .left-header {
      @include flex(row, center, space-between);
      .header-search__active {
        display: block;
        margin-right: 120px;
        margin-left: 40px;
        cursor: pointer;
        @include responsive(tablet) {
          margin-right: 50px;
          margin-left: 30px;
        }

        @include responsive(mobile) {
          margin-right: 0px;
          margin-left: 0px;
          height: 14px;
        }
      }

      .header-search {
        display: none;
      }

      .header-cart__active {
        display: block;
        margin-left: 40px;
        cursor: pointer;
        @include responsive(tablet) {
          margin-right: 50px;
          margin-left: 30px;
        }

        @include responsive(mobile) {
          margin-right: 10px;
          margin-left: 20px;
          height: 14px;
        }
      }

      .header-cart {
        display: none;
      }
    }

    .header__navbar {
      display: none;
      @include responsive(mobile) {
        display: none;
      }
    }

    .header__navbar--active {
      display: none;
      @include responsive(mobile) {
        display: flex;
        height: 9px;
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

.test__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    width: 100%;
  }
}
