@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.footer {
  margin-top: 60px;
  width: 100%;
  @include flex(column, center, center);
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 30px;
  border-top: 1px solid $gray-smoke;

  .footer-desk {
    @include responsive(mobile) {
      display: none;
    }
  }

  &__title {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include responsive(mobile) {
      display: none;
    }
  }

  &__content {
    width: 75%;
    @include flex(row, flex-start, flex-start);
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    @include responsive(tablet) {
      width: 90%;
    }

    .footer__collapse {
      display: none;

      .footer__collapse p {
        margin-left: -6px;
      }
      .footer__collapse img {
        margin-left: -30px;
      }
      @include responsive(mobile) {
        display: flex;
      }
    }

    @include responsive(tablet) {
    }
    @include responsive(mobile) {
      width: 100%;
      @include flex(column, flex-start, flex-start);
    }

    &--socials {
      width: 16.667%;
      @include responsive(tablet) {
        width: 20%;
      }
      @include responsive(mobile) {
        width: 90%;
        padding-left: 30px;
        border-bottom: 0.25px dashed $gray-smoke;
      }
    }

    .footer__title {
      margin-bottom: 24px;
    }

    &--social {
      @include flex(row, center, flex-start);
      height: 28px;
      img {
        width: 16px;
        margin-right: 16px;
      }
    }

    &--abouts {
      width: 16.667%;
      padding-left: 20px;
      @include responsive(mobile) {
        width: 90%;
        padding-left: 30px;
        border-bottom: 0.25px dashed $gray-smoke;
      }

      .footer__title {
        margin-bottom: 30px;
      }
    }

    &--cares {
      width: 30%;
      @include responsive(mobile) {
        width: 90%;
        padding-left: 30px;
        border-bottom: 0.25px dashed $gray-smoke;
      }

      .footer__title {
        margin-bottom: 30px;
      }
    }

    &--contact {
      width: 36.667%;
      @include responsive(tablet) {
        width: 33.333%;
      }
      @include responsive(mobile) {
        width: 100%;
      }

      .notified {
        @include responsive(mobile) {
          display: none;
        }
      }
    }

    &--mail,
    &--phone {
      width: 100%;
      margin-top: 10px;
      @include flex(row, center, flex-start);

      @include responsive(mobile) {
        @include flex(row, center, center);
      }

      img {
        margin-right: 16px;
        @include responsive(mobile) {
          margin-right: 10px;
        }
      }
    }

    &--mail {
      img {
        margin-left: -6px;
        margin-bottom: 5px;
      }
      p {
        text-transform: lowercase;
        margin-right: 28px;
        @include responsive(tablet) {
          margin-right: 6px;
          letter-spacing: 0.01em;
        }
        @include responsive(mobile) {
          font-size: 11px;
          margin-right: 6px;
          letter-spacing: 0.01em;
        }
        p {
          text-transform: uppercase;
        }
      }
    }
  }
  &__publish {
    width: 75%;
    text-align: left;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #000000;
    margin-top: -30px;
    text-transform: none;
    @include responsive(tablet) {
      width: 90%;
      margin-top: -10px;
      font-size: 12px;
    }
    @include responsive(mobile) {
      font-size: 12px;
      text-align: center;
      margin-top: 0px;
    }
  }
}
