@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.Search {
  width: 100%;
  height: 400px;
  padding-bottom: 70px;
  background-color: $peaches-pink;
  @include flex(column, center, flex-end);
  position: relative;

  @include responsive(tablet) {
    height: 300px;
  }

  @include responsive(mobile) {
    height: 230px;
  }

  &__close {
    position: absolute;
    top: 28%;
    right: 18%;
    cursor: pointer;

    @include responsive(tablet) {
      top: 18%;
      right: 8%;
    }

    @include responsive(mobile) {
      top: 10%;
      right: 8%;
    }
  }

  &__input {
    @include flex(column, flex-start, center);
    // width: 90%;
    input {
      width: 800px;
      border: transparent;
      border-bottom: 0.5px solid $black;
      background-color: transparent;
      padding-left: 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @include responsive(tablet) {
        width: 500px;
      }

      @include responsive(mobile) {
        width: 90%;
      }

      &:focus {
        outline: transparent;
        border-bottom: 0.5px solid $black;
        background-color: transparent;
      }
    }

    &--icon {
      height: 11px;
      margin-left: 0px;
      margin-bottom: -14px;
    }
  }

  p {
    margin-top: 20px;
  }

  &__quick {
    @include flex(row, center, center);

    &--link {
      text-decoration: none;
      color: $white;
      margin: 20px;
      font-family: 'SofiaPro Light', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      @include font($font-proLight, normal, 500, 50px, 0em);

      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;

      @include responsive(tablet) {
        font-size: 30px;
      }

      @include responsive(mobile) {
        font-size: 12px;
        font-weight: 400;
        color: $black;
        margin: 10px;
      }

      &:hover {
        color: $black;
      }
    }
  }
}
