@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.payment-success {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font($font-pro, normal, 400, 13px, 0.1em);

  text-transform: uppercase;

  @include responsive(tablet) {
    margin-top: 240px;
  }

  img {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }

  p {
    @include font($font-pro, normal, 400, 50px, 0.05em);
    margin: 0;
  }

  .confirm-send-mail {
    @include font($font-pro, normal, 400, 20px, 0.1em);
    color: $gray-outstock;
    padding-top: 20px;
  }

  .order-code {
    @include font($font-pro, normal, 400, 16px, 0.15em);
    color: $gray-outstock;
    padding-top: 40px;

    span {
      @include font($font-pro, normal, 400, 30px, 0.1em);
      color: $black;
    }
  }
}
