@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';
@import 'assets/scss/normalize.scss';

.sign-up {
  h3 {
    margin-bottom: 20px;
  }

  .please-register {
    text-transform: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 80px;
  }

  margin: 0;
  padding: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font($font-pro, normal, 400, 15px, 0.1em);
  text-transform: uppercase;

  &__form {
    width: 36%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 100px;
    @include responsive(tablet) {
      width: 80%;
    }

    @include responsive(mobile) {
      width: 90%;
    }
  }

  form {
    .default-button {
      margin-top: 20px;
      width: 60%;
      @include responsive(mobile) {
        width: 100%;
      }
    }
  }

  .default-checkbox {
    margin-top: 50px;
    p {
      text-transform: none;
      @include font($font-pro, normal, 400, 11px, 0.05em);
      @include responsive(mobile) {
        letter-spacing: 0.04em;
        padding-top: 0px;
        line-height: 12px;
      }
    }
  }

  .agree-policy {
    text-align: left;
    line-height: 150%;
    text-transform: none;
    @include font($font-pro, normal, 400, 11px, 0.05em);
    margin: 30px 0;
    @include responsive(mobile) {
      letter-spacing: 0.01em;
      padding-top: 0px;
      line-height: 12px;
    }

    &__link {
      color: $black;
      font-weight: 500;
    }
  }

  .have-account {
    @include font($font-pro, normal, 400, 15px, 0.05em);

    text-transform: none;
    color: $black;
    margin-top: -74px;
    margin-bottom: 40px;
    @include responsive(mobile) {
      font-size: 11px;
    }
  }
}
