@import 'assets/scss/mixins.scss';
@import 'assets/scss/variable.scss';

.slider-container {
  width: 100%;
  @include flex(row, center, center);

  .slider {
    width: 92%;
    @include flex(row, center, center);
    overflow-x: scroll;
    scroll-behavior: smooth;

    @include responsive(mobile) {
      width: 90%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__items {
      position: relative;
      text-align: left;
      p {
        font-size: 13px;
        line-height: 140%;
        margin-top: 20px;
      }

      margin: 8px;

      &--item {
        overflow: hidden;
        width: 337px;
        height: 510px;

        img {
          width: 100%;
          height: 100%;
          background-position: center;
          box-sizing: none;
          transition: all 0.3s;
          cursor: pointer;
          @include responsive(mobile) {
            object-fit: cover;
            margin: 8px;
          }
          &:hover {
            scale: 1.15;
          }
        }
      }

      .image-content {
        display: none;
      }

      &:hover {
        .image-content {
          @include responsive(mobile) {
            display: none;
          }
          position: absolute;
          bottom: 110px;
          left: 30px;
          @include flex(row, center, flex-start);
          color: $black;

          &:hover {
            color: $white;
          }

          img {
            width: 11px;
            margin-top: 8px;
            margin-right: 10px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .slider__button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    @include responsive(mobile) {
      display: none;
    }

    &--left {
      margin-right: 20px;
      width: 14px;
      height: 25px;
    }

    &--right {
      margin-left: 20px;
      width: 14px;
      height: 25px;
    }

    &:focus {
      border: transparent;
      background-color: transparent;
    }
  }
}
